<app-food-search></app-food-search>
<div class="content">
    <h3>Categories</h3>
    <mat-divider></mat-divider>
    <div class="cat-items">
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Fast foods</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Pizza</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Sweets</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Local Food</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Grills</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">food</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Sea Food</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Fruits</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <img class="r-cat" src="../../../assets/images/deit.png">
                <p class="cat-txt">Snaks</p>
            </mat-card-content>
        </mat-card>
    </div>

    
    <div class="r-head">
        <h3>Top Restaurants</h3>
        <button mat-button color="primary" routerLink="/restaurants">View All</button>
    </div>
    <mat-divider></mat-divider>
    <div class="r-items">
        <mat-card>
            <mat-card-content>
                <div class="r-image"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">KFC</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                        <div class="i-box">
                            <img class="r-logo" src="../../../assets/images/discount.png">
                            <button mat-raised-button color="primary" routerLink="/restaurent-detail">View</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-image"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">Burger King</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                        <div class="i-box">
                            <img class="r-logo" src="../../../assets/images/discount.png">
                            <button mat-raised-button color="primary" routerLink="/restaurent-detail">View</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-image"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">KFC</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                        <div class="i-box">
                            <img class="r-logo" src="../../../assets/images/discount.png">
                            <button mat-raised-button color="primary" routerLink="/restaurent-detail">View</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-image"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">Burger King</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                        <div class="i-box">
                            <img class="r-logo" src="../../../assets/images/discount.png">
                            <button mat-raised-button color="primary" routerLink="/restaurent-detail">View</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-image"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">KFC</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                        <div class="i-box">
                            <img class="r-logo" src="../../../assets/images/discount.png">
                            <button mat-raised-button color="primary" routerLink="/restaurent-detail">View</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-image"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">Burger King</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                        <div class="i-box">
                            <img class="r-logo" src="../../../assets/images/discount.png">
                            <button mat-raised-button color="primary" routerLink="/restaurent-detail">View</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <h3>Top Brands</h3>
    <mat-divider></mat-divider>
    <div class="r-items">
        <mat-card>
            <mat-card-content>
                <div class="r-kfc"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">KFC</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-burger"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">Burger King</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-kfc"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">KFC</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="r-burger"></div>
                <div class="r-box">
                    <div>
                        <p class="r-name">Burger King</p>
                        <p class="r-detail">Fast food, Halal Food</p>
                        <p class="star"><mat-icon>star</mat-icon>4.6</p>
                    </div>
                    <div class="logo-box">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>