.content{
    padding: 0 20px 15px 20px;

    h3 {
        margin: 20px 0;
        font-weight: 700;
    }

    mat-divider{
        margin-bottom: 15px;
    }

    .r-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .r-items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        // justify-content: center;

        mat-card {
            width: 23.4%;

            .r-image {
                background-image: url('../../../assets/images/f1.jpg');
                height: 150px;
                background-size: cover;
            }

            .r-kfc {
                background-image: url('../../../assets/images/kfc.jpg');
                height: 150px;
                background-size: cover;
            }

            .r-burger {
                background-image: url('../../../assets/images/burger.jpg');
                height: 150px;
                background-size: cover;
                background-position-y: -291px;
            }

            .r-box {
                display: flex;
                justify-content: space-between;

                .r-name {
                    font-size: 12px;
                    color: #673ab7;
                    font-weight: bold;
                    margin: 0;
                }
                .r-detail{
                    font-size: 10px;
                    color: #888;
                    margin: 0;
                }
                .star{
                    background: orange;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    width: 36px;
                    margin: 0;
                    padding: 1px 5px;
                    border-radius: 5px;
                    mat-icon {
                        font-size: 16px;
                        height: 18px;
                        width: 18px;
                    }
                }

                .logo-box{
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    position: relative;

                    .i-box {
                        position: absolute;
                        top: -26px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        height: 95px;
                    }

                    button {
                        font-size: 12px;
                        height: 30px;
                    }

                    .r-logo {
                        width: 55px;
                    }
                }
            }
        }

        
    }

    .cat-items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

        mat-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .r-cat {
            width: 70px;
        }

        .cat-txt {
            margin: 10px 0 0 0;
        }
    }
    @media screen and (max-width: 1024px) {
        mat-card {
            width: 31.5% !important;
        }
      }
    
}


.p-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    mat-card {
        width: 23.4%;

        mat-card-content {
            padding: 0;
        }
    }
    
    .r-pop {
        background-image: url('../../../assets/images/f5.jpg');
        height: 150px;
        background-size: cover;
        position: relative;

        div, p {
            position: absolute;
        }

        img {
            width: 65px;
        }

        p{
            font-size: 10px;
            color: #fff;
            left: 6px;
            top: 19px;
        }
        div{
            top: 4px;
            left: -1px;
        }


    }
    .r-box {
        padding: 10px;

        .title, .price {
            font-weight: 500;
            margin-bottom: 5px;
        }

        .txt {
            font-size: 12px;
            margin-bottom: 5px;
            color: grey;
        }

        .price {
            margin-bottom: 30px;
        }

        button {
            border: 1px solid green;
            color: green
        }

        .buttons {
            // width: 100px;
            display: flex;

            button {
                min-width: 40px;
            }

            .mat-icon {
                margin: 0;
            }

            p{
                margin: 0;
                background: green;
                display: flex;
                align-items: center;
                width: 40px;
                justify-content: center;
                position: relative;
                left: -1px;
                color: #fff;
            }

            .plus {
                position: relative;
                left: -3px;
            }
        }
    }
}