<div>
    <div class="r-head">
        <div class="r-content">
            <div>
                <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
                <p class="type">North Indian, Continental, Asian</p>
            </div>
            <button mat-raised-button color="primary" routerLink="/menu">Order Online</button>            
        </div>
    </div>
    <h3>Overview</h3>
    <mat-divider></mat-divider>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non pharetra arcu. In eu tellus auctor,
            finibus tellus a, faucibus orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Nam sagittis vel sem vel faucibus. Aenean tristique, ex sed blandit cursus, justo enim
            posuere
            arcu, eget ornare arcu nisl at urna. Suspendisse facilisis sapien sed maximus dictum. Pellentesque feugiat
            felis
            quis dolor venenatis, nec fringilla justo tempus. In tincidunt sed ipsum sit amet eleifend. Integer
            ullamcorper
            massa in felis placerat, et faucibus lacus porttitor. Orci varius natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec vestibulum erat ligula, ac aliquam dolor sodales sed. Nunc tristique
            ipsum
            vel ipsum finibus ultricies. Quisque nec rutrum diam. Donec pharetra massa in enim ultricies condimentum.
        </p>
        <p>
            Donec gravida commodo ligula ornare sagittis. Sed a mollis ligula. Curabitur nec massa augue. Proin eget
            ornare
            ante. Nam egestas augue et pharetra convallis. Suspendisse potenti. Aenean elementum mi vel turpis
            scelerisque
            malesuada.
        </p>

        <h4>Reviews</h4>
        <mat-divider></mat-divider>
        <div class="c-items">
            <mat-card>
                <mat-card-content>
                    <div class="c-quote">"</div>
                    <div class="c-box">
                        <p>
                            Donec gravida commodo ligula ornare sagittis. Sed a mollis ligula. Curabitur nec massa augue. Proin eget
                            ornare
                            ante. Nam egestas augue et pharetra convallis. Suspendisse potenti. Aenean elementum mi vel turpis
                            scelerisque
                            malesuada.
                        </p>
                        <p class="star">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </p>
                        <p class="name">
                            - Alok Kumar -
                        </p>
                    </div>
                    <div class="c-quote close">"</div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="c-quote">"</div>
                    <div class="c-box">
                        <p>
                            Donec gravida commodo ligula ornare sagittis. Sed a mollis ligula. Curabitur nec massa augue. Proin eget
                            ornare
                            ante. Nam egestas augue et pharetra convallis. Suspendisse potenti. Aenean elementum mi vel turpis
                            scelerisque
                            malesuada.
                        </p>
                        <p class="star">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </p>
                        <p class="name">
                            - Alok Kumar -
                        </p>
                    </div>
                    <div class="c-quote close">"</div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="c-quote">"</div>
                    <div class="c-box">
                        <p>
                            Donec gravida commodo ligula ornare sagittis. Sed a mollis ligula. Curabitur nec massa augue. Proin eget
                            ornare
                            ante. Nam egestas augue et pharetra convallis. Suspendisse potenti. Aenean elementum mi vel turpis
                            scelerisque
                            malesuada.
                        </p>
                        <p class="star">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </p>
                        <p class="name">
                            - Alok Kumar -
                        </p>
                    </div>
                    <div class="c-quote close">"</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>