<app-food-search></app-food-search>
<h3>All Restaurants</h3>
<mat-divider></mat-divider>
<div class="r-items">
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>
    <div class="r-box" routerLink="/restaurent-detail">
        <img class="r-img" src="../../../assets/images/r1.jfif">
        <div class="r-content">
            <p class="name">Brewocrat - Brewery Skybar & Kitchen</p>
            <p class="type">North Indian, Continental, Asian</p>
        </div>
    </div>

</div>