<div class="banner">
    <div class="search-box">
        <mat-card class="content">
            <mat-card-content>
                <p class="location">
                    <span>New Delhi</span>
                    <mat-icon>location_on</mat-icon>
                  </p>
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Search Food</mat-label>
                      <input matInput placeholder="Biryani">
                      <mat-icon matSuffix>search</mat-icon>
                      <!-- <mat-hint>Biryani</mat-hint> -->
                    </mat-form-field>
                  </p>
                  <img class="discount" src="../../../assets/images/discount.png">
            </mat-card-content>
        </mat-card>
    </div>
</div>