<div class="head">
    <div class="left">
        <div class="content">
            <div class="head-text">
                <p class="fast">Fast</p>
                <div>
                    <p class="food">Food</p>
                    <p class="food">Delivery</p>
                </div>
            </div>
            <p class="detail">
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium
            </p>
            <div class="actions">
                <button mat-raised-button class="order" routerLink="/menu">Order Now</button>
                <div class="vid">
                    <button mat-mini-fab class="play" routerLink="/menu" aria-label="Example icon button with a menu icon">
                        <mat-icon>arrow_right</mat-icon>
                      </button>
                    <span>Watch Video</span>
                </div>
            </div>
            <div class="review">
                <p class="star">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </p>
                <p class="s-txt">5 Star Ratings</p>
                <p class="s-sub-txt">Based on 1788 Reviews</p>
            </div>
        </div>
    </div>
    <div class="right">
        <img class="ban" src="../../../assets/images/b-food.png">
    </div>
</div>