<div class="checkout">
    <mat-card>
        <mat-card-content class="address">
           <h4><mat-icon>location_on</mat-icon> Deliver To: </h4>
           <p>&nbsp;1445/3 Honda Chowk sector-67 Gurgaon 122002</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
           <ol>
            <li>
                <div class="food">
                    <p>Kadhahi Paneer</p>
                    <p>x 2</p>
                    <p>834</p>
                </div>
            </li>
           </ol>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content class="coupon">
            <p>Select coupon to get discounts.</p>
            <mat-form-field>
                <mat-label>Apply Coupon</mat-label>
                <mat-select>
                  <mat-option value="15">FS 15%</mat-option>
                </mat-select>
              </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content class="bill">
           <h4>Bill Details</h4>
           <div class="item">
            <p>Item Total</p>
            <p>834</p>
           </div>
           <div class="item">
            <p>Delivery Fees</p>
            <p>30</p>
           </div>
           <div class="item">
            <p>GST</p>
            <p>15.30</p>
           </div>
           <div class="item">
            <p>Total</p>
            <p class="total">15.30</p>
           </div>
        </mat-card-content>
    </mat-card>
    <p class="note"><span>NOTE:</span> Once order placed cannot be cancelled.</p>
    <button mat-raised-button color="primary">Make Payment</button>   
</div>